.types-filter {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 30px;
  background-color: transparent;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  column-gap: 8px;
  row-gap: 8px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.types-filter {
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  overflow: hidden;
  max-height: 0;
}

.types-filter.slide-in {
  animation: slideIn 0.3s ease;
  opacity: 1;
  max-height: 500px;
}

.types-filter.slide-out {
  animation: slideOut 0.3s ease;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

@media (max-width: 960px) {
  .types-filter {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 660px) {
  .types-filter {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 550px) {
  .types-filter {
    grid-template-columns: repeat(3, 1fr);
  }
}

@import url('./styles/types-filter__types-tag.css');
@import url('./styles/types-filter__open-button.css');
