.list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  width: 100%;
  gap: 20px;
}

@import url('./styles/list_content.css');
@import url('./styles/list_count.css');
@import url('./styles/list_count-amount.css');
@import url('./styles/list_count-amount_current.css');
@import url('./styles/list-pagination.css');
@import url('./styles/list-pagination-page.css');
@import url('./styles/list-pagination-active-page.css');
@import url('./styles/list-pagination-previous-page.css');
@import url('./styles/list-pagination-next-page.css');
