.list {
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82%;
}

@import url('./elemens-style/list_content.css');
@import url('./elemens-style/list_count.css');
@import url('./elemens-style/list_count-amount.css');
