@keyframes expandCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  width: 310px;
  height: 400px;
  padding-bottom: 10px;
  background-color: #243763;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  animation: expandCard 1s ease;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.07);
}

@import url('./styles/card_header.css');
@import url('./styles/card_pokemon-id.css');
@import url('./styles/card_pokemon-name.css');
@import url('./styles/card-pokemon-avatar.css');
@import url('./styles/card_info.css');
@import url('./styles/card_pokemon-info-block.css');
@import url('./styles/card_info-heading.css');
@import url('./styles/card_type-list.css');
@import url('./styles/card_stats-list.css');
@import url('./styles/card_text.css');
@import url('./styles/card_pokemon-type-tag.css');
