.search-panel {
  display: flex;
  width: 332px;
  justify-content: flex-end;
  gap: 10px;
}

@media (max-width: 355px) {
  .search-panel {
    width: 320px;
    justify-content: center;
  }
}

@import url('./styles/search-panel__form.css');
@import url('./styles/search-panel__input.css');
@import url('../Action-button/Action-button.css');
@import url('../Action-button/Action-button-image.css');
