@font-face {
  font-family: 'Kdam Thmor Pro';
  src: url('./vendor/fonts/KdamThmorPro-Regular.ttf');
}

body {
  margin: 0 auto;
  background-image: url('./img/pokémon-pallet-town-3840x2160-v0-rsg1ogtm8cqb1\ \(1\).png');
  background-size: contain;
  background-repeat: repeat;
  background-color: #d6e4e5;
  max-width: 1920px;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, 'Kdam Thmor Pro', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@import url(./vendor/normalize.css);
