@font-face {
  font-family: 'Kdam Thmor Pro';
  src: url('./vendor/fonts/KdamThmorPro-Regular.ttf');
}

body {
  margin: 0 auto;
  background-image: url('../src/img/pokémon-pallet-town.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  max-width: 1920px;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, 'Kdam Thmor Pro', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* Maybe to use? */
/* @keyframes backgroundTransition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
} */

@import url(./vendor/normalize.css);
