.list_content {
  margin: 0;
  list-style: none;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: 1fr auto;
  column-gap: 25px;
  row-gap: 20px;
  padding: 0 20px 0 20px;
}

@media (max-width: 1629px) {
  .list_content {
    grid-template-columns: repeat(4, 300px);
  }
}

@media (max-width: 1305px) {
  .list_content {
    grid-template-columns: repeat(3, 300px);
  }
}

@media (max-width: 985px) {
  .list_content {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 670px) {
  .list_content {
    grid-template-columns: repeat(1, 300px);
  }
}
