.list-pagination {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 40px;
  min-width: 310px;
  border-radius: 30px;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #222831;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
